<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>twitterjava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TwitterJava</display-name>
    <servlet-name>TwitterJava</servlet-name>
    <servlet-class>com.sap.cloud.sample.persistence.TwitterJava</servlet-class>
    <init-param>
    	<param-name>OAUTH_CONSUMER_KEY</param-name>
    	<param-value></param-value>
    </init-param>
    <init-param>
    	<param-name>OAUTH_CONSUMER_SECRET</param-name>
    	<param-value></param-value>
    </init-param>
    <init-param>
    	<param-name>OAUTH_ACCESS_TOKEN</param-name>
    	<param-value>-</param-value>
    </init-param>
    <init-param>
    	<param-name>OAUTH_ACCESS_TOKEN_SECRET</param-name>
    	<param-value></param-value>
    </init-param>
    <init-param>
    	<param-name>HAS_PROXY</param-name>
    	<param-value>false</param-value>
    </init-param>
    <init-param>
    	<param-name>PROXY_HOST</param-name>
    	<param-value>proxy.yourcorp.com</param-value>
    </init-param>
    <init-param>
    	<param-name>PROXY_PORT</param-name>
    	<param-value>8080</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterJava</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>TwitterJava</web-resource-name>
      <url-pattern>/</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>TwitterJava</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
  </login-config> 
 </web-app>